ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	margin: 4%;
	text-decoration : none;
	font-size:23px;
	font-weight: bold; 
	font-family:monospace, Lucida;
}

#title { 
	padding-top:20px;
	margin-bottom: 50px;
	color: #020304;
	font-family: 'Ubuntu Mono', ;
	font-size: 130%;
	text-align: center;
}

#navbar { 
	border-bottom: groove;
	border-bottom-width: 10px;
	border-color: #CC9E61;
	padding:5px;
	text-align: center;
}

body{
	margin:5%;
	background-image: url("footer_lodyas.png");
}

#main {
	position: absolute;
    height: 400px;
    width: 800px;
    margin: -150px 0 0 -400px;
    top: 50%;
    left: 50%;
	background-color: #938172;
}

a {
	text-decoration: none;
	color:inherit;
	font-family: inherit;
}

a:hover{
	-webkit-animation: jello 1s;
	-moz-animation: jello 1s;
	animation: jello 1s;
	font-family:inherit;
	color:inherit;
}

#details{
	text-align: center;
	font-family: monospace, Lucida;
}

#title h1{
	display: inline;
 }

#details a,#details span{
	font-weight: bold;
}

#details a {
		font-style: italic;
}

#details a:hover {
	-webkit-animation: flash 1s;
	-moz-animation: flash 1s;
	animation: flash 1s;

}

#main {
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}